.container{
    border-bottom: 2px;
    border-left: 0px;
    border-top: 0px;
    border-color: #cccccc;
    border-style: solid;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 2px;
    color: black;
}

.container:hover{
    background-color: #734D32;
    cursor: pointer;
}