.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 25px;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    width: 160px;
    height: 230px;
    transition: .2s;
    position: relative;
    top: 0px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.image{
    width: 160px;
    height: 110px;
}

.name{
    padding-left: 10px;
    padding-right: 10px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
}

.button{
    text-decoration: none;
    transition: all .5s ease;
    color: #545454;
    border: 2px solid #f2cdb3;
    font-family: Georgia;
    font-weight: 400;
    line-height: 1;
    font-size: 15px;
    background-color : transparent;
    padding: 8px;
    outline: none;
    border-radius: 20px;
    width: 100px;
    align-self: center;
    position: absolute;
    bottom: 15px;
    z-index: 200;
}
.button:hover {
    color:#545454;
    background-color: #f2cdb3;
}